@import url(normalize.css/normalize.css);

::selection {
  background-color: #333;
  color: #eee;
}

html {
  background: #c8c8c8;
}

body {
  background: url(/texture.jpg) 0 0 repeat;
  box-shadow: -2px 0 15px 0 #aaa, 2px 0 15px 0 #aaa;
  box-sizing: border-box;
  color: #333;
  display: flex;
  flex-direction: column;
  font: 1.3rem / 1.5 Garamond, "DejaVu Serif", serif;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100dvh;
  padding: 0 40px;
}

@media (max-width: 920px) {
  body {
    padding: 0 15px;
  }
}

a {
  color: #000;
  text-underline-offset: 0.15em;
}

a:hover {
  color: inherit;
}

.page-header {
  border-bottom: 5px double;
  margin-block: 2rem 4rem;
  padding-bottom: 1rem;
  position: relative;
}

@media (min-width: 921px) {
  .page-header {
    background: url(/sherlock.png) right 5px bottom / contain no-repeat;
  }
}

.page-header h1 {
  font: normal 400 5rem / 1 "UnifrakturMaguntia", Garamond, "DejaVu Serif", serif;
  margin: 0;
  text-align: center;
}

.page-header h1::after {
  color: #777;
  content: "\2619" " 1f483 " "\2767";
  display: block;
  font-size: 0.5em;
  margin: 0 0 0.5em;
}

.page-header [data-dancing-men] {
  line-height: 0;
  text-align: center;
  transform: scale(0.9);
}

.page-main {
  flex-grow: 1;
}

.paper {
  align-items: center;
  aspect-ratio: 0.926;
  background: url(/paper.webp) 50% 50% / contain no-repeat;
  display: flex;
  filter: drop-shadow(0 0 10px #999);
  justify-content: center;
  margin: 0 auto 48px;
  max-width: 600px;
}

.paper .man {
  height: auto;
  max-width: 100%;
  width: 500px;
}

.text-form {
  align-items: flex-start;
  display: flex;
}

.text-container,
.dance-text {
  flex-grow: 1;
  margin: 0;
  padding: 5px 10px;
  text-align: justify;
}

.text-container {
  white-space: pre-wrap;
}

@media (min-width: 921px) {
  .text-container {
    columns: 2;
    column-gap: 2.5em;
    column-rule: 1px solid;
  }
}

.dance-pending {
  color: #aaa;
}

.text-edit {
  background: #f3f3f3;
  border: none;
  font: inherit;
  resize: vertical;
  width: 100%;
}

.edit-button,
.dance-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1.5em;
  min-height: 60px;
  min-width: 60px;
  padding: 0;
}

.text-form.edit-mode .text-container,
.text-form.edit-mode .edit-button,
.text-form:not(.edit-mode) .text-edit,
.text-form:not(.edit-mode) .dance-button {
  display: none;
}

.page-footer {
  font-size: 0.9rem;
  margin: 60px 0 30px;
}

@media (min-width: 921px) {
  .page-footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
  }

  .page-footer::before,
  .page-footer::after {
    content: "";
    height: 175px;
    opacity: 0.7;
  }

  .page-footer::before {
    background: url(/slaney.png) 0 0 / contain no-repeat;
    grid-area: 1 / 1 / 3 / 2;
    width: 123px;
  }

  .page-footer::after {
    background: url(/elsie.png) 0 0 / contain no-repeat;
    grid-area: 1 / 3 / 3 / 4;
    width: 140px;
  }
}

.slaney-elsie-chat {
  display: flex;
  justify-content: space-between;
}

.slaney-elsie-chat q {
  quotes: none;
}

@media (max-width: 920px) {
  .slaney-elsie-chat q {
    transform: scale(0.7);
    transform-origin: 0 0;
  }

  .slaney-elsie-chat q + q {
    transform-origin: 100% 0;
  }
}

.about {
  border-block: 3px double;
  font-style: italic;
  margin-inline: 30px;
  text-align: center;
}

@media (max-width: 920px) {
  .about {
    margin-inline: 0;
  }
}
